body 
{
    background-color: #020202;
}
h1 
{
    color: crimson;
   text-align: center;
}
.main-content
{
    display:inline;  
}
p
{
    color: #d9133b;
    width: 300px;
    margin: 50px 25px 25px;
    float: left
}
.img1
{
    margin: 25px;
    height: 300px;
    width: 1000px;
    
}
.button 
{
    align-content: center;
    margin-top: 16px;
    background-color: #d9133b;
    padding: 8px 16px;
    color: #020202;
    display: inline block;
    text-decoration: none;
}

.button:hover 
{
    background-color: black;
    color: #d9133b;
    border: solid;
    border-color: d9133b;
}
